body {
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}
h1 {
    text-align: center;
    color:#8b0121;
}
h2 {
    margin-top: 20px;
    text-decoration:underline;
    color:#8b0121;
    font-weight:bold;
}
li {
    margin-bottom: 10px;
}
.role{
    color: #8b0121;
    font-weight:bold;
}

img{
    max-width: 150px;
    border-radius: 50%;
    float: left;
    padding: 20px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
